*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}


#menu{
  max-width: 40px;
  margin: 12px;
  padding: 15px 25px;
  width: 100px;
  display: none;
  background-color: antiquewhite;
}
#cross{
  display: none;
  max-width: 40px;
  height: auto;
  float: right;
  transform: translate(-80%, 40%);
}
.main span{
  font-size: 3vw;
}
.main p{
 font-size: 2rem;
}
.main {
  display: none;
  height: 100vh;
  margin-left: 25%;
  background-color: #111;
  overflow: hidden;
}
.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  border-right: 2px solid rgb(158, 158, 158);
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px
}

.sidenav a {
  padding: 30px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav a:nth-child(8) {
  color: #f1f1f1;
}
.sidenav img{
  display: block;
  margin: auto auto;
  float: top;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
}


.container{
  margin-left: 25%;
  height: 100vh;
  background-color: #111;
  padding: 3rem;
}

.container h1{
color: white;
text-align: center;
font-size: 3rem;
}
.container img{
   max-width: 200px;
   height: auto;
   margin: auto;
}
#facebook{
  max-width: 182px;
  height: auto;
  margin: auto;
}
.logos{
  padding: 20px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex: 50%;
}
@media (max-width: 600px){
  #menu, #cross{
    display: block;
}
.sidenav img{
    width: 100px;
    height: 100px;
}
.sidenav {
   padding: 0px;
   width: 0;
   border: none;
}

.sidenav a{
        font-size: 1.3rem;
    }
 .container{
        margin-left: 0;
        padding: 0px;
    }
 .container #facebook, #insta{
        max-width: 120px;
    }
}